.row{
    display: flex;
    justify-content: space-between;
}
.container{
    margin: auto ;
}
.book-show{
    box-shadow: 0px 1px 4px gray;
    height: auto;
    min-height: 10rem;
    padding: 0px;
    align-items: center;
    display: flex;
    min-width: 150px;
    max-width: 400px;
    margin: 24px;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
}
.book-list{
    display: flex;
    border: 0;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.book-title{
    font: 16px sans-serif;
    margin: 12px;
}

.actions{
    
    display: inline-flex;
}
.actions button{
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    border: 0;
    padding: 8px;
    margin: 4px;
}
button.btn-delete{
    background-color: black;
color: #fff;
}