.card{
    background-color: #fefbf8ed;
}
.item-img{
    display: block;
    border-radius: 4px;
}
.title{
    font-size: 32px;
    font-weight: 600;
}

.author{
    font-size: 24px;
    font-weight: 600;
}

.description{
    font-size: 14px;
    font-weight: 400;
    margin-top: 40px;
}
.image-section,.title-section{
    display: flex;
    max-width: 50%;
}
.image-section{
    justify-content: center;
    padding: 16px;
    background: #f7f3efed;
    max-width: 40%;
    align-items: center;
    margin: auto;
    border: 1px solid #f7f3efed;
}
.image-section img{
    z-index: 999;
    opacity: 0.8;
}
.title-section{
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.description-section{
    display: flex;
    margin-top: -24px;
    border-top: 2px solid #f7f3efed;
}
 .actions{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 16px;
}

.actions button.read{
    background: #fff;
    border: 1px solid #333;
}
.actions button.cart{
    background: #333;
    border: 1px solid #fff;
    color: #fff;
}
.btn{
    color: #fff !important;
}